@import "../styles/variables.scss";

.create {
  &__container {
    color: white;
    margin-bottom: 100px;
    margin-top: 40px;
    display: flex;
    gap: 30px;

    @media (max-width: 936.98px) {
      gap: 20px;
    }
  }

  &__title {
    font-size: clamp(30px, 4vw, 36px);
    font-weight: 700;
    letter-spacing: 1.8px;
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 2px $colorBlueTitle;
    word-wrap: normal;

    @media (max-width: 767.98px) {
      height: 60px;
    }

    & svg {
      position: absolute;
      top: -20px;
      right: -8px;
      color: white;
      z-index: 5;
      cursor: pointer;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
  }

  &__list {
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 20px;
    width: 100%;
    border-radius: 5px;
    padding: 15px 10px;

    @media (max-width: 1093.98px) {
      column-gap: 10px;
    }

    @media (max-width: 767.98px) {
      padding: 15px 7px;
    }

    &:hover {
      background-color: rgba(66, 233, 255, 0.1);
    }

    &_active {
      background-color: rgba(66, 233, 255, 0.1);

      & svg path {
        fill: aqua;
      }
    }
  }

  &__right {
    flex: 1 1 auto;
  }

  &__button {
    color: $colorBlueTitle;
    border-radius: 5px;
    padding: 15px 0px;
    width: 100%;
    font-weight: 700;
    font-size: clamp(20px, 4vw, 22px);
    @include buttonColor($colorBlueBorder, $colorBlueOpacity, $colorBlueOpacity);
  }

  &__dark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    backdrop-filter: blur(2px);
    background-color: rgb(0, 0, 0, 0.2);
  }

  &__body {
    width: 31%;
    min-width: 264px;
    max-width: 395px;
    @media (max-width: 890.98px) {
      row-gap: 20px;
    }

    @media (max-width: 767.98px) {
      position: fixed;
      width: 100vw;
      height: 100vh;
      left: -110%;
      top: 0;
      padding: 85px 15px 30px 15px;
      overflow: auto;
      transition: all 0.3s ease 0s;
      z-index: 2;
    }

    &__active {
      background-color: rgb(39, 1, 65);
      position: fixed;
      padding: 20px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      width: 310px;
      height: 100vh;
      top: 0;
      left: 0;
      transition: all 0.3s ease 0s;
      z-index: 10;
    }

    &__inside {
      position: sticky;
      top: 30px;
      display: flex;
      flex-direction: column;
      row-gap: 40px;
    }
  }
}

.icon_menu {
  display: none;
  @media (max-width: 767.98px) {
    & {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 35px;
      height: 18px;
      position: relative;
      z-index: 5;
    }
  }
}
.right {
  max-width: 858px;
  background-color: $backgroundColorBlue;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  z-index: 2;

  @media (max-width: 767.98px) {
    padding: 10px;
  }
}
.form {
  &__answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
  }

  &__question__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__list__item {
    background-color: rgba(66, 233, 255, 0.1);
    border-radius: 10px;
    padding: 15px;
    padding-top: 35px;
    position: relative;
  }

  &__answers__div {
    display: flex;
    align-items: center;
    width: 100%;

    & svg {
      align-self: flex-end;
      cursor: pointer;
      transition-duration: 0.2s;
      margin-left: 2%;
      border-radius: 2px;
      &:hover {
        background-color: rgba(66, 233, 255, 0.3);
      }
    }
  }

  &__range {
    display: flex;
    font-size: 18px;
    align-items: center;
    width: 300px;
    justify-content: space-between;

    & div {
      width: 200px;
    }

    &__view {
      margin-top: 20px;
      font-weight: 700;
      font-size: clamp(20px, 4vw, 22px);
    }
  }

  &__ranges {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    @media (max-width: 767.98px) {
      row-gap: 0px;
    }
  }
}

.right {
  &__title {
    font-size: clamp(20px, 4vw, 22px);
    font-weight: 600;
  }

  &__top {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 15px;
  }

  &__subtitle {
    font-size: clamp(18px, 4vw, 20px);
    color: rgb(82, 208, 247);
    font-weight: 700;
  }

  &__subtitle__number {
    font-size: clamp(18px, 4vw, 20px);
    position: absolute;
    background-color: rgb(158, 89, 236);
    padding: 5px 15px;
    font-weight: 700;
    border-bottom-right-radius: 10px;
    top: 0;
    left: 0;
  }

  &__subtitle_mar {
    color: rgb(82, 208, 247);
    font-size: clamp(18px, 4vw, 20px);
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__item {
    border-radius: 5px;
    border: 2px rgba(54, 169, 184, 1) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7px;
    padding-right: 30px;
    width: 266px;

    &:hover {
      background-color: rgba(66, 233, 255, 0.1);
      border: 2px rgb(0, 225, 255) solid;
    }

    &__active {
      border: 2px rgb(0, 225, 255) solid;
      background-color: rgba(66, 233, 255, 0.1);
    }

    @media (max-width: 895.98px) {
      width: 100%;
    }

    & div {
      font-size: 18px;
      flex: 1 1 auto;
    }
  }

  &__info {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: rgb(192, 125, 1);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.marginTop {
  margin-top: 35px;

  @media (max-width: 895.98px) {
    margin-top: 30px;
  }
}

.marginTopLit {
  margin-top: 10px;
}

.marginTopMid {
  margin-top: 20px;
}

.marginBot {
  margin-bottom: 10px;
}

.button__save {
  margin-top: 40px;
  color: rgb(0, 255, 34);
  border-radius: 5px;
  padding: 4px 15px;
  font-weight: 600;
  font-size: clamp(18px, 4vw, 20px);
  @include buttonColor(rgb(3, 187, 28), rgba(0, 255, 34, 0.2), rgba(0, 255, 34, 0.2));
}
.button__create {
  margin-top: 20px;
  color: rgb(251, 255, 0);
  color: rgb(0, 255, 34);
  border-radius: 5px;
  padding: 4px 15px;
  font-weight: 600;
  font-size: clamp(18px, 4vw, 20px);
  // @include buttonColor($colorBlueBorder, $colorBlueOpacity, $colorBlueOpacity);

  @include buttonColor(rgb(251, 255, 0), rgba(251, 255, 0, 0.2), rgba(251, 255, 0, 0.2));
  @include buttonColor(rgb(3, 187, 28), rgba(0, 255, 34, 0.2), rgba(0, 255, 34, 0.2));
}

.marginZero {
  margin: 0px !important;
}
.marginButtonZero {
  margin-bottom: 0px !important;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 0.1s;
  border-radius: 2px;
  &:hover {
    background-color: rgba(66, 233, 255, 0.3);
  }
}
