@import "../styles/variables.scss";

.main_photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.home__container {
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 488px;
  row-gap: 10px;
  position: relative;
  z-index: 8;
  margin-bottom: calc(75vh - 400px);

  @media (max-height: 900.98px) {
    margin-bottom: calc(75vh - 340px);
  }

  Button {
    margin-top: 10vh;
  }

  &_title {
    font-size: clamp(35px, 4vw, 48px);
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 2px rgba(255, 248, 68, 1);
    margin-top: 25vh;
    letter-spacing: 0.96px;
  }

  &_subtitle {
    font-size: clamp(20px, 4vw, 24px);
    font-weight: 500;
  }
}

.info {
  // margin-top: calc((50vh / 2));
  position: relative;
  z-index: 8;

  &__title {
    font-size: clamp(35px, 4vw, 48px);
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.96px;
    color: transparent;
    -webkit-text-stroke: 2px $colorTitle;
    margin-bottom: 20px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    column-gap: 40px;
    @media (max-width: 850.98px) {
      flex-direction: column;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    width: 50%;
    @media (max-width: 850.98px) {
      width: 100%;
    }
  }

  &__text {
    margin-top: 20px;
    font-size: clamp(18px, 4vw, 22px);
    max-width: 432px;
    font-weight: 500;
    text-align: center;
  }

  &__right {
    width: 50%;
    @media (max-width: 500.98px) {
      width: 100%;
    }
  }

  &__photo {
    width: 80%;
    height: 100%;

    @media (max-width: 850.98px) {
      margin-top: 40px;
      width: 100%;
    }
  }
}

.how {
  position: relative;
  z-index: 8;
  &__title {
    font-size: clamp(35px, 4vw, 48px);
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.96px;
    color: transparent;
    -webkit-text-stroke: 2px $colorTitle;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  &__list {
    position: relative;
    z-index: 8;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 40px;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      max-width: 350px;
      height: 460px;
      padding: 20px;
      border-radius: 30px;
      background: linear-gradient(145deg, rgb(50, 28, 78) 1.02%, rgb(69, 39, 109) 99.95%);

      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -1px -3px -3px -1px;
        border-radius: inherit;
        background: $borderGradient;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
      margin-bottom: 30px;
    }
    &__title {
      font-size: clamp(30px, 4vw, 40px);
      font-weight: 700;
      letter-spacing: 0.8px;
    }
    &__text {
      text-align: center;
      font-size: 18px;
      font-weight: 500;
    }
  }

  &__icon {
  }
}

.end {
  margin-top: 50px;
  position: relative;
  z-index: 8;
  &__title {
    font-size: clamp(120px, 4vw, 130px);
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 4px $colorTitle;
    text-align: center;
  }
}

.block {
  position: relative;
  width: 100vw;
  z-index: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 56px;
  padding: 40px 0px;
  margin-top: 10px;
  backdrop-filter: blur(2px);
  border-top: 2px rgba(186, 29, 200, 0.4) solid;
  border-bottom: 2px rgba(186, 29, 200, 0.4) solid;
  margin-bottom: 43px;
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__title {
    font-size: clamp(30px, 4vw, 40px);
    font-weight: 700;
    letter-spacing: 0.8px;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
}
