@import "../styles/variables.scss";
@import "../styles/Modal.module.scss";

.quiz__item__active {
  border-left: 4px rgba(15, 175, 0, 1) solid !important;
}

.quiz__item__progress {
  border-left: 4px rgb(206, 193, 17) solid !important;
}

.quiz__item__ended {
  border-left: 4px rgb(148, 148, 148) solid !important;
}

.quiz__item__key {
  border-left: 4px rgb(165, 5, 5) solid !important;
}

.quiz__item {
  border-left: 4px solid;
  color: rgb(190, 190, 190);
  font-size: clamp(14px, 4vw, 16px);
  background-color: $backgroundColorBlue;
  padding: 12px;
  width: 100%;
  border-top: 1px rgba(55, 255, 255, 1) solid;
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  &:last-child {
    border-bottom-left-radius: 10px;
  }

  @media (max-width: 1041.98px) {
    width: 100%;
  }

  &_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_head_left {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &_question {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_title {
    color: rgb(255, 255, 255);
    min-height: 22px;
    font-weight: 500;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: clamp(18px, 4vw, 20px);
  }

  &_deadline {
    text-align: end;
  }

  &_status {
    text-align: center;
    padding: 5px 24px;
    border-radius: 5px;
    font-weight: 500;
  }

  &_bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &_data {
    @media (max-width: 565.98px) {
      width: 100px;
    }
  }
  &_group_button {
    display: flex;
    flex-wrap: nowrap;
  }
  &_button {
    color: $colorBlueTitle;
    border-radius: 5px;
    padding: 5px 25px;
    font-weight: 700;
    @include buttonColor($colorBlueBorder, $colorBlueOpacity, $colorBlueOpacity);

    &_right {
      color: rgb(255, 68, 68);
      border-radius: 5px;
      padding: 5px 25px;
      font-weight: 700;
      @include buttonColor(rgb(161, 0, 0), rgba(109, 0, 0, 0.3), rgba(214, 0, 0, 0.3));
      margin-left: 10px;
    }
  }

  &_status_active {
    color: rgba(30, 252, 11, 1);
    background-color: rgb(9, 114, 0);
  }

  &_status_key {
    color: rgb(255, 68, 68);
    background-color: rgb(109, 0, 0);
  }

  &_status_ended {
    color: rgb(187, 186, 186);
    background-color: rgb(83, 83, 83);
  }

  &_status_progress {
    color: rgb(229, 255, 0);
    background-color: rgb(146, 137, 12);
  }

  &__link {
    &:hover {
      cursor: pointer;
      background-color: rgba(55, 255, 255, 0.2);
    }
  }
}
