@import "../styles/variables.scss";

.quizPass {
  &__container {
    margin-bottom: 30px;
    margin-top: 40px;

    @media (max-width: 900.98px) {
      margin-top: 30px;
    }

    @media (max-width: 500.98px) {
      margin-top: 20px;
    }
  }

  &__form {
    display: flex;
    column-gap: 30px;
  }
}

.left {
  width: 75%;
  border-radius: 10px;
  background-color: rgba(66, 233, 255, 0.1);
  padding: 15px;

  @media (max-width: 795.98px) {
    width: 100%;
  }

  &__title {
    color: rgb(82, 208, 247);
    font-size: clamp(18px, 4vw, 20px);
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__text {
    font-size: clamp(20px, 4vw, 22px);
    font-weight: 300;
    margin-bottom: 15px;
  }

  &__buttons {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
    justify-content: flex-end;
  }

  &__back {
    color: $colorBlueTitle;
    border-radius: 5px;
    padding: 10px 0px;
    width: 120px;
    font-weight: 700;
    font-size: clamp(16px, 4vw, 18px);
    @include buttonColor($colorBlueBorder, $colorBlueOpacity, $colorBlueOpacity);

    @media (max-width: 470.98px) {
      width: 100px;
    }
  }

  &__next {
    color: $colorBlueTitle;
    border-radius: 5px;
    padding: 10px 0px;
    width: 120px;
    font-weight: 700;
    font-size: clamp(16px, 4vw, 18px);
    @include buttonColor($colorBlueBorder, $colorBlueOpacity, $colorBlueOpacity);

    @media (max-width: 470.98px) {
      width: 100px;
    }
  }

  &__checkBox {
    display: flex;
    flex-direction: column;
  }
}

.right {
  width: 23%;
  display: flex;
  flex-direction: column;

  @media (max-width: 795.98px) {
    display: none;
  }

  &__title {
    font-weight: 500;
    font-size: clamp(18px, 4vw, 20px);
    margin-bottom: 15px;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__number {
    width: 50px;
    height: 50px;
    font-size: clamp(18px, 4vw, 20px);
    font-weight: 700;
    border-radius: 45px;
    background-color: rgba(66, 233, 255, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;

    &:hover {
      background-color: rgba(66, 233, 255, 0.3);
    }

    &__passed {
      background-color: rgba(0, 225, 255, 0.35);
    }
    &__active {
      background-color: rgba(0, 225, 255, 0.8);
    }
  }

  &__button {
    margin-top: 40px;
    color: $colorBlueTitle;
    border-radius: 5px;
    padding: 15px 0px;
    width: 100%;
    font-weight: 700;
    font-size: clamp(20px, 4vw, 22px);
    @include buttonColor($colorBlueBorder, $colorBlueOpacity, $colorBlueOpacity);
  }
}
