@import "../../../styles/variables.scss";

.button {
  cursor: pointer;
  width: 330px;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  border: 3px $colorRedBorder solid;
  position: relative;
  height: 98px;

  @media (max-width: 1200.98px) {
    width: 280px;
    font-size: 26px;
    height: 90px;
  }

  @media (max-width: 421.98px) {
    width: 240px;
    font-size: 25px;
    height: 75px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    z-index: -1;
    background-color: $colorRedHover;
  }

  &_text {
    width: 66.66%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      background-color: $colorRedHover;
      left: 100%;
      top: 0;
      transition: all 0.3s ease 0.3s;
      z-index: -1;
    }
  }

  &_arrow {
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorRedHover;
  }

  &:hover {
    &::before {
      bottom: 0;
      height: 100%;
      transition: all 0.3s ease 0.3s;
    }
    .button_text {
      &::before {
        left: 0;
        width: 100%;
        transition: left 0.3s, width 0.3s;
      }
    }
  }
}
